{% extends 'base.html.twig' %}

{% block title %}Tipo de Cita{% endblock %}

{% block body %}
    <h1>Tipo de Cita</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_citum.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_citum.descripcion }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>{{ tipo_citum.costo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tipo_cita_index') }}">back to list</a>

    <a href="{{ path('app_tipo_cita_edit', {'id': tipo_citum.id}) }}">edit</a>

    {{ include('tipo_cita/_delete_form.html.twig') }}
{% endblock %}
