{% extends 'base.html.twig' %}

{% block title %}Medicos{% endblock %}

{% block body %}
<body style="background-color:#C8C5CA;" >
<center>
    <h1>Medicos</h1>
    </center>
    <div class="container bg-white">
        <h1><b>CITAS:</b></h1>
     <center>
    <div class="container -secondary">
    <table class="table table-secondary table-bordered" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medico.id }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ medico.userId }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ medico.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ medico.apellidos }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ medico.valor }}</td>
            </tr>
            <tr>
                <th>Cita_id</th>
                <td>{{ medico.citaId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medicos_index') }}"class="btn btn-info" role="button">Regresar</a>

    <a href="{{ path('app_medicos_edit', {'id': medico.id}) }}"class="btn btn-primary" role="button">Editar</a>

{% endblock %}
