{% extends 'base.html.twig' %}

{% block title %}Hello Estudiante!{% endblock %}

{% block body %}
<body style="background-color:#C8C5CA;" >

    <center>
    <h1>HOLA ESTUDIANTES✅</h1>
    </center>
     <center>
    <div class="container bn-secondary">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Instructor</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.titulo }}</td>
                <td>{{ curso.descripcion }}</td>
                <td>{{ curso.nombres }} {{ curso.apellidos }}</td>
                <td><a href = "{{path('app_estudiante_dash_board_save',{'id':curso.id, 'accion':'add'})}}" class="btn btn-success" role="button">Suscribirse</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    <strong><b>No existen Cursos Activos para suscribirse</b></strong>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href = "{{path('app_estudiante_dash_board')}}" class="btn btn-danger" role="button">Regresar</a>
    
{% endblock %}
