{% extends 'base.html.twig' %}

{% block title %}Publicaciones index{% endblock %}

{% block body %}
<body style="background-color:#B0BBF7;" >
<div class="example-wrapper">
    <center>
    <h1><b>Hola Trabajador</b></h1>
    <h1>Publicaciones</h1>
    <center>
    <center>
    <div class="container p-3 my-3 border" style="background-color:#E8E3F9;">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Cuerpo</th>
                <th>Categoria</th>
                <th>Nombre de Trabajador</th>
                <th>Apellido de Trabajador</th>
                <th>Fecha deCreacion</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for publicacione in publicaciones %}
            <tr>
                <td>{{ publicacione.id }}</td>
                <td>{{ publicacione.titulo }}</td>
                <td>{{ publicacione.cuerpo }}</td>
                <td>{{ publicacione.nomCategorias }}</td>
                <td>{{ userTrabajador.apellidos  }}</td>
                <td>{{ userTrabajador.nombres}}</td>
                <td>{{ publicacione.fechacreacion ? publicacione.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ publicacione.descripcion }}</td>
                <td>
                <a href="{{ path('app_trabajador_dash_board_edit', {'id': publicacione.id}) }}"class="btn btn-primary" role="button">Editar</a>
                <a href="{{ path('app_trabajador_dash_board_show', {'id': publicacione.id}) }}"class="btn btn-secondary" role="button">Ver</a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No existen Publicaciones</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('app_trabajador_dash_board_new') }}"class="btn btn-info" role="button">Crear nueva publicacion</a>

      <a href = "{{ path('app_logout') }}" class="btn btn-danger" role="button">Cerrar sesión</a>
{% endblock %}
