{% extends 'base.html.twig' %}

{% block title %}Cita index{% endblock %}

{% block body %}
    <h1>Cita index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Paciente</th>
                <th>Medico</th>
                <th>Fecha</th>
                <th>TipoCita</th>
                <th>Duracion</th>
                <th>CitaAtendida</th>
                <th>Valor</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for citum in citas %}
            <tr>
                <td>{{ citum.id }}</td>
                <td>{{ citum.paciente }}</td>
                <td>{{ citum.medico }}</td>
                <td>{{ citum.fecha ? citum.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ citum.tipoCita }}</td>
                <td>{{ citum.duracion }}</td>
                <td>{{ citum.CitaAtendida ? 'Yes' : 'No' }}</td>
                <td>{{ citum.valor }}</td>
                <td>
                    {# <a href="{{ path('app_cita_show', {'id': citum.id}) }}">show</a> #}
                    {# <a href="{{ path('app_cita_edit', {'id': citum.id}) }}">editar cita</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cita_new') }}">Create new</a>
{% endblock %}
