{% extends 'base.html.twig' %}

{% block title %}Facturas - Cajero{% endblock %}

{% block body %}
    <h1>Citas por Facturar</h1>

<!--No se permite editar las citas ya atendidas por el médico-->
    <table class="table">
        <thead>
            <tr>
                <th class="table-light">Id</th>
                <th class="table-light">Fecha creacion</th>
                <th class="table-light">Paciente</th>
                <th class="table-light">Médico</th>
                <th class="table-light">Tipo de Cita</th>
                <th class="table-light">Costo </th>
                <th class="table-light">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td class="table-light">{{ cita.id }}</td>
                <td class="table-light">{{ cita.fe_creacion ? cita.fe_creacion|date('Y-m-d H:i:s') : '' }}</td>
                <td class="table-light">{{ cita.paciente_apellidos }} {{cita.paciente_nombres}}</td>
                <td class="table-light">{{ cita.nombre_medico }} {{cita.apellido_medico}}</td>
                <td class="table-light">{{ cita.descripcionTipoCita}}</td>
                <td class="table-light">$ {{ cita.valorCita}}</td>
                <td class="table-light">
                  <a href="{{path('app_cajero_facturar',{'id':cita.id})}}">Generar Factura</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontraron datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cajero_dashboard') }}">Regresar</a>
{% endblock %}
