{% extends 'base.html.twig' %}

{% block title %}Facturas - Cajero{% endblock %}

{% block body %}
    <h1>Citas por Facturar</h1>

<!--No se permite editar las citas ya atendidas por el médico-->
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fe_creacion</th>
                <th>Paciente</th>
                <th>Médico</th>
                <th>Tipo de Cita</th>
                <th>Costo Cita</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td>{{ cita.id }}</td>
                <td>{{ cita.fe_creacion ? cita.fe_creacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cita.paci_apellidos }} {{cita.paci_nombres}}</td>
                <td>{{ cita.nombre_medico }} {{cita.apellido_medico}}</td>
                <td>{{ cita.descripcionTipoCita}}</td>
                <td>$ {{ cita.valorCita}}</td>
                <td>
                  <a href="{{path('app_cajero_dashboard_facturar',{'id':cita.id})}}">Generar Factura</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontraron datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cajero_dashboard') }}">Regresar</a>
{% endblock %}
