{% extends 'base.html.twig' %}

{% block title %}Publicaciones{% endblock %}

{% block body %}
 <body style="background-color:#AECBF0;" >
<div class="container p-3 my-3 border border-secondary" style="background-color:#FFFFFF;">
    <h1> <b><i>Publicacion:</i></b></h1>
    <center>
    <h1><b>Titulo:</b></h1>
    <td><b>{{ publicacione.titulo }}</b></td>
</div>
  <div class="container p-3 my-3 border border-secondary" style="background-color:#FFFFFF;">
  <div class="row">
    <div class="col">
    <center>
    <h4><b>Creado Por:</b></h4>
    <td><b>{{userTrabajador.nombres}}</b></td>
    </center>
    <br>
    <td>{{ publicacione.cuerpo }}</td>
    <br>
    <h><b>Descripcion:</b></h>
    <br>
    <td>{{ publicacione.descripcion }}</td>
    <br>
    <br>
    <br>
    <h><b>Fecha de creacion</b></h>
    <td>{{ publicacione.fechacreacion ? publicacione.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
    </div>
    <div class="col">
     <h4><b>Comentarios:</b></h4>
{% if comentarios %}
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Autor</th>
        <th>Comentario</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for comentario in comentarios %}
        <tr>
          <td>{{ comentario.userId }}</td>
          <td>{{ user.nombres }}</td>
          <td>{{ comentario.body }}</td>
          <td>{{ comentario.fechacreacion|date('Y-m-d H:i:s') }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

     <a href = "{{path('app_usuario_comentarios_new')}}" class="btn btn-dark" role="button">Comentar</a>
    </div>
  </div>
  </div>
    <center>
    <a href="{{ path('app_usuario_index') }}"class="btn btn-primary" role="button">Regresar</a>

{% endblock %}
