{% extends 'base.html.twig' %}

{% block title %}Medico{% endblock %}

{% block body %}
    <h1>Medico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medico.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ medico.nombre }}</td>
            </tr>
            <tr>
                <th>Especialidad</th>
                <td>{{ medico.especialidad }}</td>
            </tr>
            <tr>
                <th>Citas</th>
                <td>{{ medico.citas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medico_index') }}">back to list</a>

    <a href="{{ path('app_medico_edit', {'id': medico.id}) }}">edit</a>

    {{ include('medico/_delete_form.html.twig') }}
{% endblock %}
