{% extends 'base.html.twig' %}

{% block title %}Categorias index{% endblock %}

{% block body %}
    <h1>Categorias index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrec</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nomCategorias }}</td>
                <td>
                    <a href="{{ path('app_categorias_show', {'id': categoria.id}) }}">show</a>
                    <a href="{{ path('app_categorias_edit', {'id': categoria.id}) }}"class btn btn-primary" role="button">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No existen Aun</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorias_new') }}">Create new</a>
{% endblock %}
