{% extends 'base.html.twig' %}

{% block title %}Comentarios index{% endblock %}

{% block body %}
    <center><h1>Listado de comentarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Comentario:</th>
                
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td>{{ comentario.descripcion }}</td>
                <td>
                    {{ include('comentarios/_delete_form.html.twig') }}
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Listado de publicaciones #}

     <center><h1>Listado de publicaciones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Publicaciones:</th>
                
            </tr>
        </thead>
        <tbody>

         {# {% for publicacione in publicaciones %}
            <tr>
                <td>{{ publicacione.descripcion }}</td>
                <td>
                    {{ include('publicaciones/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}  
        </tbody>
    </table> #} 
    

{#     <a href="{{ path('app_comentarios_new') }}">Create new</a> #}
        <p>
        <a href="{{ path('app_logout') }}">Cerrar sesión</a>
{% endblock %}
    
