{% extends 'base.html.twig' %}

{% block title %}Paciente!{% endblock %}

{% block body %}
<body style="background-color: rgb(254 226 226);" >

    <center>
    <h1 id="myheading"
    style="border-bottom:2px solid orangered;padding-bottom:5px;">Paciente</h1>
    </center>
     <center>
    <div class="container bn-secondary">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Tipo Cita</th>
                <th>Doctor</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td>{{ cita.id }}</td>
                <td>{{ cita.Fecha|date('m/d/Y') }}</td>
                <td>{{ cita.TipoCita }}</td>
                <td>{{ cita.Nombres }} </td>
                <td><a href = "{{path('app_paciente_dash_board_save',{'id':cita.id, 'accion':'add'})}}" class="btn btn-success" role="button">Agendar</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    <strong><b>No existen Citas  para agendar</b></strong>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href = "{{path('app_paciente_dash_board')}}" class="btn btn-danger" role="button">Regresar</a>
    
{% endblock %}
