{% extends 'base.html.twig' %}

{% block title %}Publicaciones index{% endblock %}

{% block body %}
    <center><h1>MENÚ PRINCIPAL DE ADMINISTRADOR</h1>
    <p>
    <h2>¿Qué desea hacer?</h2>
    </p>
    <a href="{{ path('app_categoria_new') }}">Crear categoría</a>
    <p>
    <a href="{{ path('app_categoria_index') }}">Ver y Modificar categoría</a>
    <p>
    <a href="{{ path('app_registro') }}">Crear usuario</a>
    <p>
    {# <a href="{{ path('app_registro_ver') }}">Ver usuarios creados</a> #}
    <p>
    <a href="{{ path('app_logout') }}">Cerrar sesión</a>
    

{% endblock %}
