{% extends 'base.html.twig' %}

{% block title %}ADMINISTRADOR{% endblock %}

{% block body %}
    
    {% if is_granted('ROLE_ADMIN') == true %}

    <center>
    <h1>MENÚ PRINCIPAL DE ADMINISTRADOR</h1>
    <p>
    <h2>¿Qué desea hacer?</h2>
    </p>
    <a href="{{ path('app_categoria_new') }}">Crear categoría</a>
    <p>
    <a href="{{ path('app_categoria_index') }}">Ver y Modificar categoría</a>
    <p>
    <a href="{{ path('app_registro_new') }}">Crear usuario</a>
    <p>
    <a href="{{ path('app_registro_index') }}">Ver usuarios creados</a>
    <p>
    <a href="{{ path('app_logout') }}">Cerrar sesión</a>

    {#Si no es Administrador se presenta la pantalla del trabajador#}
    {% else %}
    <center>
    <h1>Publicaciones</h1>
    <p>Estas son las publicaciones que se han realizado</p>

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
        {% for publicacione in publicaciones %}
            <tr>
                <td>{{ publicacione.titulo }}</td>
                <td>{{ publicacione.descripcion }}</td>
                <td>{{ publicacione.categoria }}</td>
                <td>
                    <a href="{{ path('app_comentarios_new') }}">Comentar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_publicaciones_new') }}">Crear publicación</a>
    <p>
    <a href="{{ path('app_logout') }}">Cerrar sesión</a>
    
    {% endif %}
    </center>

{% endblock %}
