{% extends 'base.html.twig' %}

{% block title %}Facturas{% endblock %}

{% block body %}
<body style="background-color:#C8C5CA;" >
    <center>
    <h1>Hola Facturador 🤑</h1>
    </center>
     <center>
    <h1>Facturas</h1>
    </center>
    <div class="container bg-white">
        <h1><b>CITAS:</b></h1>
     <center>
    <div class="container -secondary">
    <table class="table table-secondary table-bordered" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factura.id }}</td>
            </tr>
            <tr>
                <th>Cita_id</th>
                <td>{{ factura.citaId }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ factura.valor }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ factura.fecha ? factura.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ factura.hora ? factura.hora|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facturacion_index') }}"class="btn btn-info" role="button">Regresar</a>

    <a href="{{ path('app_facturacion_edit', {'id': factura.id}) }}"class="btn btn-primary" role="button">Editar</a>

    {{ include('facturacion/_delete_form.html.twig') }}
{% endblock %}
