{% extends 'base.html.twig' %}

{% block title %}Hola Mi Doc{% endblock %}

{% block body %}
 <body style="background-color:#C8C5CA;" >

    <center>
    <h1>REVISION DE CITAS:</h1>
    <h1>Por Realizar</h1>
     </center>
 <center>
    <div class="container bn-secondary">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Valor</th>
                <th>Identificador de Cita:</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for medico in medicos %}
            <tr>
                <td>{{ medico.id }}</td>        
                <td>{{ medico.nombre }}</td>
                <td>{{ medico.apellidos }}</td>
                <td>{{ medico.valor }}</td>
                <td>{{ medico.citaId }}</td>
                <td>
                    <a href="{{ path('app_medicos_show', {'id': medico.id}) }}"class="btn btn-success" role="button">Ver</a>
                    <a href="{{ path('app_medicos_edit', {'id': medico.id}) }}"class="btn btn-primary" role="button">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No existen Citas por revisar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
<a href = "{{path('app_logout')}}" class="btn btn-danger" role="button">Cerrar Sesion</a>
{% endblock %}
