{% extends 'base.html.twig' %}

{% block title %}Citas Paciente{% endblock %}

{% block body %}
    <h1>Historial de Citas Pacientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="table-light">Id</th>
                <th class="table-light">Fe_creacion</th>
                <th class="table-light">Motivo</th>
                <th class="table-light">Estado</th>
                <th class="table-light">Tipo Cita</th>
                <th class="table-light">Medico</th>
                <th class="table-light">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td class="table-light">{{ cita.id }}</td>
                <td class="table-light">{{ cita.fe_creacion ? cita.fe_creacion|date('Y-m-d H:i:s') : '' }}</td>
                <td class="table-light">{{ cita.motivo }}</td>
                <td class="table-light">{{ cita.estado }}</td>
                <td class="table-light">{{ cita.descripcionTipoCita }}</td>
                <td class="table-light">{{ cita.apellido_medico }} {{ cita.nombre_medico }}</td>
                <td class="table-light">
                    {% if cita.estado == 'Pendiente' %} <!--Solo si esta pendiente se puede editar el motivo -->
                    <a href="{{ path('app_paciente_dashboard_edit', {'id': cita.id}) }}">Editar</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se encontraron datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paciente_dashboard_new') }}">Generar Cita</a>
     <a href="{{ path('app_logout') }}"role="button">Cerrar sesión </a>
{% endblock %}

