{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div style="border: 1px solid black; padding: 5px; margin: 5px; text-align: center;" id="header-div">
    <h1><center>Listado de usuarios</h1>
    <p>Sistema de citas médicas</p>
    {% if arrayMenu is defined %}
        {% for arrayMenuItem in arrayMenu %}
            <a href="{{ path(arrayMenuItem) }}">{{ arrayMenuItem }}</a>
        {% endfor %}
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>     
                <th>Email</th>           
                <th>TipoUsuario</th>

            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nombres }}</td>
                <td>{{ user.apellidos }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.tipoUsuario }}</td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                {# <td>{{ user.password }}</td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a  
    class="btn btn-success"  
    href="{{ path('app_usuarios_new') }}">
    <center>
    Registrar nuevo paciente
    </a>
{% endblock %}
